<% if user_signed_in? %>
    <li> <%= link_to "Post a New Review", new_album_path %> </li>
    <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
    <li><%= link_to "Edit Your Profile", edit_user_path(current_user) %></li>
<% else %>
    <li><%=link_to "Sign In", new_user_session_path %></li>
    <li><%=link_to "Sign In With Facebook", user_facebook_omniauth_authorize_path %></li>
    <li><%=link_to "Sign Up", new_user_registration_path %></li>
<% end %>