<!DOCTYPE html>

<html>
  
  <head>
    <title>Assessment</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

  <% render :partial => '/layouts/messages' %>

  </head>

  <body>
   <header class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
          <hr>
          <div class="col-md-4">
            <li><%= link_to "Home", root_path %></li>
            <%= render :partial => '/layouts/left_links' %>
          </div>
          <div class="col-md-4">
            <h1><p class="text-warning">rekordne ocene.</p></h1>
          </div>
          <div class="col-md-4 text-right">
            <%= render :partial => '/layouts/right_links' %> 
          </div>
        </div>
        <hr>
    </header>

    <%= yield %>
  
  </body>

</html>