<!DOCTYPE html>
<html>
  <head>
    <title>Assessment</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <header class="navbar navbar-inverse navbar-fixed-top">
      <hr>
        <%= render :partial => '/layouts/messages' %>
      <div class="container">       
          <div class="col-md-4">
            <li><%= link_to "Home", root_path %></li>
            <%= render :partial => '/layouts/left_links' %>
          </div>
          <div class="col-md-4">
            <h1><p class="text-warning">rekordne ocene.</p></h1>
          </div>
          <div class="col-md-4 text-right">
            <%= render :partial => '/layouts/right_links' %> 
          </div>
        </div>
      <hr>
      <div class="container-fluid" style="background-color:lightgray">
        <center><p class="label"><%= link_to "Browse Artists", artists_path %></p>
        <p class="label"><%= link_to "Browse Users", users_path %></p>
        <p class="label"><%= link_to "Browse Genres", genres_path %></p></center>
      </div>
    </header>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>