<%= form_for @album, html: { multipart: true } do |f| %>
  <div class="col-md-3">
    <% if @album.errors.any? %>
      <div class="alert-danger">
        We can't save your review because:<br>
        <% @album.errors.full_messages.each do |msg| %>
          <%= msg %><br>
        <% end %>
      </div>
    <% end %>
    
    <h2><%= f.label :name, "Album Name:" %></h2>
        <%= f.text_field :name %><hr>

    <h3><%= f.label :release_date, "Release Date:" %></h3>
        <%= f.date_field :release_date %>
    
    <h3>Artist:</h3>  
      <%= f.collection_select(:artist_id, Artist.all, :id, :name, prompt: true) %>    
        <p>OR add a new artist:</p>
      <%= f.fields_for :artist, @album.build_artist do |artist_fields| %>     
        <%= artist_fields.text_field :name %>
      <% end %><hr>

    <h3>Genre(s):</h3>
      <%= f.collection_check_boxes(:genre_ids, Genre.all, :id, :name) do |b| %>
        <p class="btn">
          <%= b.label %>
          <%= b.check_box %>
        </p>
      <% end %>
      <p>AND/OR create a new genre:</p>
        <%= f.fields_for :genres, @album.genres.build do |genres_fields| %>
          <%= genres_fields.text_field :name %>
        <% end %>
        <%= f.fields_for :album_genres, @album.album_genres.build do |ag_fields| %>
          <%= ag_fields.label :name, "Album Genre Name" %>
          <%= ag_fields.text_field :name %>
        <% end %><br><hr>
    <h3>Upload Album Cover Image:</h3>
      <%= f.file_field :image %>
      <br>
  </div>
  
  <div class="col-md-9">
    <hr>
    <%= f.text_area :review, size: "90x20", :placeholder => "Write Your Review Here."  %>
    <%= f.submit "Post Your Review." %>
  </div>

<% end %>