<%= form_for @album, html: { multipart: true } do |f| %>
  <div class="col-md-3">
    <% if @album.errors.any? %>
      <div class="alert-danger">
        We can't save your review because:<br>
        <% @album.errors.full_messages.each do |msg| %>
          <%= msg %><br>
        <% end %>
      </div>
    <% end %>
    
    <h3><%= f.label :name, "Album Name:" %></h3>
      <%= f.text_field :name %>
    
    <h3>Artist:</h3>  
      <%= f.collection_select(:artist_id, Artist.all, :id, :name) %>    
        <p>OR add a new artist:</p>
      <%= f.fields_for :artist, @album.build_artist do |artist_fields| %>     
        <%= artist_fields.text_field :name %>
      <% end %>

    <h3>Genre(s):</h3>
      
        <%= f.collection_check_boxes(:genre_ids, Genre.all, :id, :name) %>
      
      <p>AND/OR create a new genre:</p>
        <%= f.fields_for :genres, @album.genres.build do |genres_fields| %>
          <%= genres_fields.text_field :name %>
        <% end %><br><br>
    <h3>Upload Album Cover Image:</h3><br>
      <%= f.file_field :image %>
  </div>
  
  <div class="col-md-9">
    <hr>
    <%= f.text_area :review, size: "90x20", :placeholder => "Write Your Review Here."  %>
    <%= f.submit "Submit" %>
  </div>

<% end %>