<h1 class="jumbotron"><strong><center>Welcome to Album Reviews!</center></strong></h1>
<% if !params[:artist_id] %>

<div>
  <p class="label"><%= link_to "Browse by Artist", artists_path %></p>
  <p class="label"><%= link_to "Browse by User", users_path %></p>
  <p class="label"><%= link_to "Browse by Genre", genres_path %></p>
  <% end %>
</div

<div class="container">


  <div class="col-md-8" style="background-color:yellow">
    <center>Newest Albums:
    <div class="row"><% @albums.each do |album| %>
      <p> <%= link_to image_tag(album.image.url(:large)), album_path(album) %> 
       <%= album.artist.name %>: <italics><%= album.name %> </italics>
      by <%= album.user.email %><br>
    <% end %>
    </center></p></div>
  </div>

  <% if !params[:artist_id] %>
    <div class="col-md-4" style="background-color:blue">
      <center>Most Popular Albums:</center>
      <% @popular_albums.each do |popular_album| %>
        <p><%= link_to "#{popular_album.name} - #{popular_album.artist.name}", album_path(popular_album) %></p>
      <% end %>
    </div>
  <% end %>
</div>