<h1 class="jumbotron"><strong><center>Welcome to Album Reviews!</center></strong></h1>
<% if !params[:artist_id] %>

<p><%= link_to "Browse by Artist", artists_path %></p>
<p><%= link_to "Browse by User", users_path %></p>
<p><%= link_to "Browse by Genre", genres_path %>
<% end %>

  <% @albums.each do |album| %>
    <p> <%= link_to image_tag(album.image.url(:med)), album.image.url %> </p>
    <p><%= link_to "#{album.name} - #{album.artist.name}", album_path(album) %></p>
    <ul>by <%= album.user.email %></ul>
  <% end %>


<% if !params[:artist_id] %>
  <p><center>Most Popular Albums:</center></p>
    <% @popular_albums.each do |popular_album| %>
      <p><%= link_to "#{popular_album.name} - #{popular_album.artist.name}", album_path(popular_album) %></p>
    <% end %>
<% end %>
