<% if no_artist_selected? %>
  <div class="container">
    <div class="col-md-9" style="background-color:#B0C4DE">
<% else %>
  <div class="container-fluid">
    <div class="container" style="background-color:#B0C4DE">
<% end %>  
    <center><h2>The Latest:</h2></center>
    <table class="table hover-table">
      <% @albums[0..9].each do |album| %>
        <tr>
          <td><%= link_to image_tag(album.image.url(:large)), album_path(album) %></td>
          <td><h2><%= album.artist.name %>: <em><%= album.name %></em></h2>
            <p><h5>by <%= album.user.email %></p></h5></td>
        </tr>
      <% end %>
    </table>
  </div>

  <% if no_artist_selected? %>
    <%= render "sidebar" %>
  <% end %>
  
</div>