<h1><center>ADD YOUR ALBUM REVIEW HERE.</center></h1>

<%= form_for(@album) do |f| %>
  
  
  <h3><%= f.label :name, "Album Name:" %></h3>
  <%= f.text_field :name %>
  

  <h3>Artist:</h3>
    <%= f.collection_select :artist_id, Artist.all, :id, :name %>
    <p>OR add a new artist:</p>
    <%= fields_for @artist do |f|%>
      <%= f.text_field :name %>
    <% end %>


  <h3>Genre(s):</h3>
    <%= f.collection_check_boxes :genre_ids, Genre.all, :id, :name %>
    <p>AND/OR create a new genre:</p>
    <%= fields_for @genre do |f| %>
      <%= f.text_field :name %>
    <% end %><br><br


  <h3>Write Your Review Here.</h3><br>
  <%= f.text_area :review %>


  <%= f.submit "Submit Review" %>

<% end %>