<h1><center><%= "#{@album.artist.name} - #{@album.name}" %></center></h1>
<p> <%= link_to image_tag(@album.image.url(:med)), @album.image.url %> </p>
<p><h3>Released: <%= @album.release_date %></h3></p>

<div class="btn-group">
  <% @album.genres.each do |genre| %>
    <div class="btn"><h4><%= link_to "#{genre.name}", genre_path(genre) %></div>
  <% end %>
</div>

<p>by: <%= @album.user.email %></p>

<p><%= @album.review %></p>

<% if current_user && @album.user_id == current_user.id %>
  <p class="label"><%= link_to "edit this review.", edit_album_path(@album) %></p>
<% end %>