<div class="container">


  <h1><center><%= "#{@album.artist.name} - "%><em><%= "#{@album.name}" %></em></center></h1>
  <hr> 
  <div class="col-sm-3">
    <p> <%= image_tag(@album.image.url(:med)) %> </p>
    <p><h3><small>Release Date: <%= @album.release_date ? @album.release_date : "???" %></h3></small></p>

    <div class="btn-group">
      <div class="btn-label">Genre(s):</div>
      <% @album.genres.each do |genre| %>
        <h4><%= link_to "#{genre.name}", genre_path(genre), class: 'btn btn-success' %></h4>
      <% end %>
    </div>
  </div>

  <div class="col-sm-9">

    <p><h4><small>by: <%= @album.user.email %></small></h4></p>

    <p><%= @album.review %></p>

    <% if current_user && @album.user_id == current_user.id %>
      <p class="label"><%= link_to "edit this review.", edit_album_path(@album) %></p>
    <% end %>
  </div>
<div>