<h1><center><%= "#{@album.artist.name} - #{@album.name}" %></center></h1>
<p> <%= link_to image_tag(@album.image.url(:med)), @album.image.url %> </p>
<p><h3>Released: <%= @album.release_date %></h3></p>
<% @album.genres.each do |genre| %>
  <p><h4><%= link_to "#{genre.name}", genre_path(genre) %></h4></p>
<% end %>
<p>by: <%= @album.user.email %></p>
<p><%= @album.review %></p>

<% if @album.user_id == current_user.id %>
  <p class="label"><%= link_to "edit this review.", edit_album_path(@album) %></p>
<% end %>