<%= form_for @user, html: { multipart: true } do |f| %>
  

  <% if @user.errors.any? %>
  <div class="error_explanation">
    We can't save your profile because:<br>
    <% @user.errors.full_messages.each do |msg| %>
      <%= msg %><br>
    <% end %>
  </div>
<% end %>
  
<h2><center>Tell Us More About Yourself!</center></h2>

  <h3>Upload Profile Image Here:</h3>
    <%= f.file_field :image %>

  <h3>Enter your bio here.</h3>
  <%= f.text_area :bio, :value => @bio %>

  <%= f.submit "Update Your Profile" %>

<% end %><br>

<%= link_to "No thanks.", root_path %>